<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodoversity</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Belly Button Biodiversity <br>
                Dashboard
            </h1>
        </div>
    </div>

    <div id="dropdown"></div>

    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sample Metadata</h3>
        </div>
        <div class="panel-body" id="infopanel"></div>
    </div>

    <div id="pie"></div>

    <div id="bubble"></div>
    
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
    <!--
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    -->
</body>
</html>